@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* put fancy colors here later */
  --font-fam: "Atkinson Hyperlegible Mono", sans-serif;
}

body,
html {
  height: 100%;
  min-height: 100dvh;
}

body {
  font-family: var(--font-fam);
  /* font-weight: 700; */
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */

  /* border: 1px solid red; */
  padding: 2rem;

  /* min-width: 500px; */

  border: 1px solid white;
  border-radius: 4px;
}

.timer-display p {
  font-size: 6rem;
}

.timer-buttons {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
}

.timer-buttons button {
  appearance: none;
  /* border: 1px solid green; */
  border: none;
  outline: none;
  padding: 0.3rem 1rem;
  border-radius: 6px;
  font-family: var(--font-fam);
  font-size: 0.8rem;
  text-transform: lowercase;
  font-weight: bold;

  flex: 1;
}

.timer-buttons button:hover {
  background-color: rgb(68, 68, 68);
  color: white;
  transition: background-color 0.3s ease-in-out;
}
